/* Coolors Exported Palette - coolors.co/57a97a-84c318-82d173-00a5cf-004e64 */

/* HSL */
$color1: hsla(146%, 32%, 50%, 1);
$color2: hsla(82%, 78%, 43%, 1);
$color3: hsla(110%, 51%, 64%, 1);
$color4: hsla(192%, 100%, 41%, 1);
$color5: hsla(193%, 100%, 20%, 1);

/* RGB */
$color1: rgba(87, 169, 122, 1);
$color2: rgba(132, 195, 24, 1);
$color3: rgba(130, 209, 115, 1);
$color4: rgba(0, 165, 207, 1);
$color5: rgba(0, 78, 100, 1);