
/* RGB
GreenDark:  background: #57A97A;
GreenLime:  background: #84C318;
GreenLight: background: #82D173;
BlueBright: background: #00A5CF;
BlueDarker: background: #004E64;  */

html
{
    background-color: #AAAAAA;
}
body
{
    font: 100% "Bahnschrift Light","Century Gothic",serif;
    width: 85%;
    margin: auto;
    background: #F0FFFF;
    border-left: 5px solid darkcyan;
    border-right: 5px solid darkcyan;
}

/* Headers and Footer
---------------------------------------------------------------*/

h1
{
    font-family: Calibri, "Courier New", serif;
    font-size: 2.5em;
    font-weight: normal;
    font-style: normal;
    margin: 0.5em 1em auto;
    background: #57A97A; /* Foreground color is inlined for testing purposes and is called "color" */
}

h2
{
    background: #84C318;
    color:#004E64;
    font-family: Calibri, "Courier New", serif;
    font-size: 1.6em;
    font-weight: normal;
    font-style: normal;
    margin: 0.5em;
}

h3
{
    color:darkcyan;
    font-family: "Calibri", "Courier New", serif;
    font-weight: bold;
    margin:  2em 2em 0.5em;
}

h4
{
    color:darkblue;
    font-family: "Calibri", "Courier New", serif;
    font-weight: normal;
    margin-left: 1em;
}


footer
{
    margin-top: 2em;
}

/* --------------------------------------------------------------------- */

p
{
    font-family: "Bahnschrift Light","Century Gothic",serif;
    font-size: 0.9em;
    line-height: 1.5;
    text-align: justify;
    width: auto;
    margin: 1em 2em 0.5em;
}

a
{
    text-decoration:none;
    color:#004E64;
    font-weight: bold;
}

a:hover
{
    text-decoration: underline;
    color:#00A5CF;
}
